{% extends "base.html" %} {% import 'macros.html' as macro%} {% block content %}

<div class="container">
    {{ macro.displayCategoryList(category) }}{% for cat in category%}
    <a class="btn btn-primary text-center text-danger" style="float:right; margin-top: 2%" href="{{url_for('main.nu_pitch',id=cat.id)}}"> {{cat.name|upper}} add a Pitch</a>

</div>
<br>
<br>

<div class=" col-md-10 col-md-offset-1 col-sm-12">
    <hr> {% endfor %}

</div>

{% if pitches %}
<div class="col-sm-12 col-md-8">
    {{ macro.displayPitchList(pitch)}}
</div>
{%else%}
<div class="well">
    <h4 style="padding:10%; text-align:center; font-size:50px">NO PITCHES IN THIS CATEGORY. </h4>
</div>
{% endif %} {% endblock %}