{% extends "base.html" %} {% block content %}
<div class=" col-md-10 col-md-offset-1 col-sm-12">
    <!-- {% for cate in pitches %}
    <h3 class="text-center">{{cate.name|upper}}</h3>
    {% endfor %}
    <a class="btn btn-primary text-center text-danger" style="float:right;" href="{{url_for('main.new_pitch',id=category.id)}}">{{cate.name|upper}} Pitch</a>
    <hr> -->
</div>
{{ macro.displayPitchList(pitch_list)}} {% for pitch in pitch_list %}
<div class="col-md-12">
    <div class="well">
        <div class="row">
            <p>{{pitch.name|upper}}</p>
            </a>
            <div class="col-md-10 col-sm-12">
                <h3>{{pitch.content}}</h3>
                <p>{{pitch.posted}}</p>


            </div>
        </div>
    </div>

</div>
{% endfor %}
<div class="well">

</div>

{% endblock %}